* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --black: #000;
    --white: #fff;
    --border-radius: 0.3rem;
    --light-blue: #2589bd;
}


body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* CARDS */
.card {
    margin: 0 0 20px 0;
}

.card h6 {
    color: var(--black);
}

.card-header {
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
    color: var(--black);
    background-color: var(--white);
}

.card-body {
    padding: 2.5%;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.search {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-blue);
}


.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    box-shadow: 3px 3px var(--black);
    transform: translate(-1px, -1px);
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* individual 3 content sections */
.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
